# Load antigen
source {{ ansible_env.HOME }}/.zsh/antigen.zsh

# Load antigen configuration
antigen init {{ ansible_env.HOME }}/.config/.antigenrc

export EDITOR="vim"

# Export pip3 bin folder
export PATH="$PATH:{{ ansible_env.HOME }}/.local/bin"

# Export golang bin folder
export PATH="$PATH:{{ ansible_env.HOME }}/go/bin"

# Export personal bin folder
export PATH="$PATH:{{ ansible_env.HOME }}/bin"

# Export deno bin folder
export DENO_INSTALL="{{ ansible_env.HOME }}/.deno"
export PATH="$DENO_INSTALL/bin:$PATH"

# Export kyrat bin folder
export PATH="$PATH:{{ ansible_env.HOME }}/.local/share/kyrat/bin"

# Setup for typewritten theme
export TYPEWRITTEN_PROMPT_LAYOUT="pure"
export TYPEWRITTEN_CURSOR="block"

# Use fd instead of find for fzf completion
export FZF_DEFAULT_COMMAND='fd --follow --hidden --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# Source functions folder
source ~/.zsh/functions-ansible_dotfiles.zsh

# Source aliases
source ~/.zsh/aliases.zsh
source ~/.zsh/restic.zsh

# Source thefuck for command autofix by typing fuck
eval "$(thefuck --alias fuck)"

# Stuff to keep at bottom

{% if shell_base16_enabled is defined and shell_base16_enabled %}

BASE16_SHELL="$HOME/.config/base16-shell/"
[ -n "$PS1" ] && \
    [ -s "$BASE16_SHELL/profile_helper.sh" ] && \
        eval "$("$BASE16_SHELL/profile_helper.sh")"

{% endif %}

# Node Version Manager sourcing for arch linux
# source /usr/share/nvm/init-nvm.sh

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Linked to this antigen bundle Aloxaf/fzf-tab
enable-fzf-tab

